@import 'reset';

html, body {
    background: #222;
    font-family: 'Manrope', sans-serif;
    font-size: 1rem;
    line-height: 1.5;
}

#app {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.center {
    display: flex;
    width: 960px;
    gap: 2rem;
}

canvas {
    width: 20rem;
    height: 25rem;
    border-radius: 1rem;
    background: #000;
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.15), 0 10px 15px -5px rgba(0, 0, 0, 0.25);
}
