<template>
    <canvas class="away-component" :width="width()" :height="height()">
        Your browser is not supported.
    </canvas>
</template>

<script>
    import PipAnimation from '../Mixins/PipAnimation';

    export default {
        mixins: [PipAnimation],

        methods: {
            update(delta) {
                const now = Date.now();

                for (const [index, pip] of this.pips.entries()) {
                    this.renewPip(pip);

                    const dx = pip.x - this.target.x;
                    const dy = pip.y - this.target.y;
                    const angle = Math.atan2(dy, dx);
                    const velocity = {
                        x: Math.cos(angle) * pip.speed,
                        y: Math.sin(angle) * pip.speed
                    };

                    pip.x += velocity.x;
                    pip.y += velocity.y;
                }
            }
        }
    };
</script>
