<template>
    <canvas class="rise-component" :width="width()" :height="height()">
        Your browser is not supported.
    </canvas>
</template>

<script>
    import PipAnimation from '../Mixins/PipAnimation';

    export default {
        mixins: [PipAnimation],

        methods: {
            update() {
                const now = Date.now();

                for (const [index, pip] of this.pips.entries()) {
                    this.renewPip(pip);

                    pip.y -= pip.speed;

                    const dx = pip.x - this.target.x;
                    const dy = pip.y - this.target.y;
                    const dd = Math.sqrt((dx * dx) + (dy * dy));
                    const maxDistance = 64;

                    pip.color = (dd <= maxDistance) ? 'red' : 'white';

                    if (pip.color === 'red') {
                        const angle = Math.atan2(dy, dx);
                        const velocity = {
                            x: Math.cos(angle) * pip.speed,
                            y: Math.sin(angle) * pip.speed
                        };

                        pip.x += velocity.x;
                        pip.y += velocity.y;
                    }
                }
            }
        }
    };
</script>
